.blockinfo {
    width: 800px;
    height: 800px;
}

.info1 {
    width: 400px;
    border: 2px solid red;

}

.info2 {
    width: 400px;
    border: 2px solid red;

}

.info3 {
    width: 400px;
    border: 2px solid red;

}